<section class="card register">
  <form name="myform" ng-submit="register()" nonvalidate>

    <div class="textintro">
      <h1>Register</h1>
      <p>To access site features</p>
      <p class = "message" ng-show="message">{{ message }}</p>
    </div>

    <fieldset>
      <input type="text" name="firstname" placeholder="First Name">
      <input type="text" name="lastname" placeholder="Last Name">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
    </fieldset>

    <button type="submit" class="btn" ng-disabled="myform.$invalid"
    ng-disabled = "myform.$invalid">Register</button>
    <p>or <a href="#/login">login</a></p>
  </form>
</section>
