body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidenav {
	width: 25%;
	float: left;
	height: 500px;
	margin-right: 10px;
}
.sidenav ul {
	list-style-type: none;
	font-size: 35px;
}
.sidenav ul li a {
	padding: 0;
}
.content-wrapper {
	width: 70%;
	float: right;
}
body {
	padding: 0;
}
